!!! html
%html
  %head
    %title 'Offline'
    %link{ href: '/stylesheets/application.css', rel: 'stylesheet', type: 'text/css' }
    %script{ src: '/javascripts/application.js' }
    %script{ src: '/javascripts/modernizr.js' }
  %body
    = yield

